#root {
  display: flex;
  justify-content: space-evenly;
}

.music-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genre-selector {
  height: fit-content;
  margin-top: 10px;
}

.track-details {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.song-title {
  font-weight: bold;
}
/* 
.details-list {

} */

.album-cover {
  height: fit-content;
  width: fit-content;
} 